
$colour-primary:#231d16;
$colour-secondary:#655f5a; 
$colour-tertiary: #54483A; 
$colour-quaternary: #c69963;  

// 1920px
$max-width-page: 1920px;

// 1366px
$max-width-content: 1366px;

// 1200px
$standard-width-content: 1200px; 

// 1024px
$break-tablet-landscape: 1024px; 

// 768px
$break-tablet-portrait: 768px;

// 568px
$break-mobile-landscape: 568px;

// 479px
$break-mobile-portrait: 479px;