.contact {
    height: 100%;
    margin: 9rem auto;
 
    &__aboutme {
        height: auto; 
        width: 100%;
        display: flex; 
        margin: 0 auto;


        @include breakpoint(tab-portrait){
            flex-direction: column;
        }

        &__image {
            max-width: 100%;
            height: auto;
            margin: auto;
            max-height: 40rem;
            border-radius: 50%;
            background-size: contain;
            box-shadow: 0 2rem 3rem rgba($colour-primary, 1);

            @include breakpoint(mob-landscape){
                max-height: 25rem;
            }
        }


        &__blurb {
            width: 60%;
            margin: auto;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: left;
            padding: 2rem;
 

            a {
                @include goldenText;
                border-bottom: 1px solid $colour-quaternary;
                
            }

            @include breakpoint(tab-portrait){
                width: 90%;
                margin-top: 5rem;
                text-align:center;
            }
        }

    }


}