.gallery { 
    margin-top: 10rem;
    margin-bottom: 10rem;

    &__heading { 
        margin: 10rem auto 0 auto; 
        color: $colour-primary;
        background-image: none;   
        background-clip: unset;       
        text-shadow: 2px 8px 6px rgba($colour-primary, .5), 
                 0px -5px 35px rgba(255,255,255,0.3);  
    }

    &__container {

    &__general {
        width: 80%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 2rem;

        @include breakpoint(tab-landscape){
            grid-template-columns: repeat(3, 1fr);
        }

        @include breakpoint(tab-portrait){
            grid-template-columns: repeat(2, 1fr);
        }

        @include breakpoint(mob-portrait){
            grid-template-columns: 1fr;
        }

        .img-wrapper {
            @include goldBackground;
            box-shadow: 0 1rem 2rem rgba($colour-primary, 1);
            width: auto;
            display: flex;
            justify-content: center;
            align-items: center;           
            height: 100%;
            margin: 0 auto;

        }

        img {
            width: 95%;
            height: 95%;
            background-size: contain;
        }
    }

    &__aura,
    &__marceline,
    &__harmonie,
    &__petales {
        width: 99%;
        height: 98%;
        background-color: white;
        display: grid;
        grid-template-rows: 1fr;
        grid-gap: 1rem;
        padding: 1rem;
        align-items: center;

        img {
            height: auto;
            margin: 0 auto;
            box-shadow: 0 1rem 2rem rgba($colour-primary, 1);

            @include breakpoint(mob-landscape){
                width: 80%;
            }
        }
    }

    &__aura__wrapper,
    &__marceline__wrapper,
    &__harmonie__wrapper,
    &__petales__wrapper {
        width: 82%;
        height: 60rem;
        margin: 0 auto;
        @include goldBackground;
        box-shadow: 0 2rem 4rem rgba($colour-primary, 1);
        display: flex;
        justify-content: center;
        align-items: center;

        @include breakpoint(tab-landscape){
            height: 25rem;
            padding: .5rem 0;
        }

        @include breakpoint(mob-landscape){
            height: auto;
        }
    }

    &__aura {
        grid-template-columns: 4;

        @include breakpoint(mob-landscape){
            grid-template-columns: 1fr;
        }

        img {
            max-height: 70%;
            min-height: 70%;
            max-width: 100%;

            @include breakpoint(tab-landscape){
                min-height: 90%;
                max-height: 90%;
            }

        }

        .img {
            &-1 {
                grid-column: 1/2;
                @include breakpoint(mob-landscape){
                    grid-column: 1/-1;
                }
            }

            &-2 {
                grid-column: 2/3;
                @include breakpoint(mob-landscape){
                    grid-column: 1/-1;
                }

            }

            &-3 {
                grid-column: 3/4;
                @include breakpoint(mob-landscape){
                    grid-column: 1/-1;
                }

            }

            &-4 {
                grid-column: 4/5;
                @include breakpoint(mob-landscape){
                    grid-column: 1/-1;
                }

            }
        }
    }

    &__harmonie {
        grid-template-columns: 5;

        @include breakpoint(mob-landscape){
            grid-template-columns: 1fr;
        }

        img {
            max-height: 60%;
            min-height: 60%;
            max-width: 100%;

            @include breakpoint(tab-landscape){
                min-height: 90%;
                max-height: 90%;
            }
        }


        .img {
            &-1 {
                grid-column: 1/2;

                @include breakpoint(mob-landscape){
                    grid-column: 1/-1;
                }
            }

            &-2 {
                grid-column: 2/3;

                @include breakpoint(mob-landscape){
                    grid-column: 1/-1;
                }

            }

            &-3 {
                grid-column: 3/4;

                @include breakpoint(mob-landscape){
                    grid-column: 1/-1;
                }

            }

            &-4 {
                grid-column: 4/5;

                @include breakpoint(mob-landscape){
                    grid-column: 1/-1;
                }

            }

            &-5 {
                grid-column: 5/6;

                @include breakpoint(mob-landscape){
                    grid-column: 1/-1;
                }
            }
        }

    }

    &__marceline {
        grid-template-columns: 4;

        @include breakpoint(mob-landscape){
            grid-template-columns: 1fr;
        }

        img {
            max-height: 70%;
            min-height: 70%;
            max-width: 100%;

            @include breakpoint(tab-landscape){
                min-height: 90%;
                max-height: 90%;
            }
        }


        .img {
            &-1 {
                grid-column: 1/2;
                @include breakpoint(mob-landscape){
                    grid-column: 1/-1;
                }
            }

            &-2 {
                grid-column: 2/3;
                @include breakpoint(mob-landscape){
                    grid-column: 1/-1;
                }

            }

            &-3 {
                grid-column: 3/4;
                @include breakpoint(mob-landscape){
                    grid-column: 1/-1;
                }

            }

            &-4 {
                grid-column: 4/5;
                @include breakpoint(mob-landscape){
                    grid-column: 1/-1;
                }

            }
        }
    }

    &__petales {
        grid-template-columns: 5;

        @include breakpoint(mob-landscape){
            grid-template-columns: 1fr;
        }

        img {
            max-height: 40%; 
            min-height: 40%;
            max-width: 100%; 

            @include breakpoint(tab-landscape){
                min-height: 90%;
                max-height: 90%;
            }
        }


        .img {
            &-1 {
                grid-column: 1/2;
                @include breakpoint(mob-landscape){
                    grid-column: 1/-1;
                }
            }

            &-2 {
                grid-column: 2/3;
                @include breakpoint(mob-landscape){
                    grid-column: 1/-1;
                }

            }

            &-3 {
                grid-column: 3/4;
                @include breakpoint(mob-landscape){
                    grid-column: 1/-1;
                }

            }

            &-4 {
                grid-column: 4/5;
                @include breakpoint(mob-landscape){
                    grid-column: 1/-1;
                }

            }

            &-5 {
                grid-column: 5/6;
                @include breakpoint(mob-landscape){
                    grid-column: 1/-1;
                }
            }
        }
    }
}
}



