.home {

    .description {
        margin-top: 5rem;
        padding: 5rem;

        @include breakpoint(mob-landscape){
            font-size: 1.7rem;
        }

        .social {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            width: 30%;
            margin: 0 auto;
            padding: 2.9rem;

        
        &__svg {

             mask-size: contain;
             mask-repeat: no-repeat;

             @include goldBackground;
             display: inline-block;
            }

            &__etsy {
                mask-image: url(../assets/etsy.svg);
                -webkit-mask-image: url(../assets/etsy.svg);
                width: 10rem;
                height: 10rem;
                
                @include breakpoint(mob-landscape){
                    width:6rem;
                    height: 6rem;
                }
            }

            &__pinterest {
                mask-image: url(../assets/pinterest.svg);
                -webkit-mask-image: url(../assets/pinterest.svg);
                width: 14rem;
                height: 14rem;

                @include breakpoint(mob-landscape){
                    width: 9rem;
                    height: 9rem;
                }
            }
            a {
                text-decoration: none;
            }
        }
            


    }  
}