
*,
*::before,
*::after {
    margin: 0;
    padding: 0; 
    box-sizing: inherit;
}

html, body { 
    min-height: 100%;
    box-sizing: border-box;
    font-size: 62.5%; // 10px / 16px => 1rem = 10px
}

#app { 
    max-width: $max-width-page; 
    margin: 0 auto; 
    padding: 3rem;
    height: 100%;
    width: 100%;
    overflow: auto;
    @include defaultTextStyle; 

/*** add sticky footer at the bottom **/
    display: flex; 
    flex-direction: column; 
  }   

  header, footer {
      flex-shrink: 0; 
      background-color:$colour-primary;

  } 
  .app__content {
      flex: 1 0 auto;
      @include defaultTextStyle; 


  }
  /** --- **/

  .section {
      padding-top: 5rem;
  }

  h2,
  h3 {
      width: 100%;
    @include defaultTextStyle;
    text-transform: uppercase;
    letter-spacing: .3rem;
    font-weight: bolder;
    display: inline-block;

    @include breakpoint(tab-landscape){
        font-size: 3.5rem !important;
    }

    @include breakpoint(mob-landscape){
        font-size: 2rem !important;
    }

  }

  h2 {
    font-size: 3rem;
  }

  h3 {
    font-size: 5rem;
    @include goldenText;

 }

  p {
        @include breakpoint(mob-landscape){
            font-size: 1.7rem;
        }
    } 
