header {
    width: 100%;
    border-radius: 2rem; 
    padding: 2rem;
    outline: .5rem solid rgba($colour-primary, .5);
    outline-offset: 1rem;

    .nav {
        &__links {
            list-style: none; 
            display: flex;
            justify-content: space-evenly;

            @include breakpoint(tab-landscape){
                flex-direction: column;
            }

        }

        a {
            text-decoration: none;
        }

    } 

}